:root {
    --nav-height: 8vh
}

@media (max-aspect-ratio: 4/3) {
    :root {
        --nav-height: 12vh
    }
}



.nav {
    position: sticky;
    top: 0; 
    z-index: 100; 
    height: var(--nav-height); 
    background-color:var(--fg); 
    mix-blend-mode:multiply; 
}
.nav-container {
    mix-blend-mode: normal;

    display: flex;
    flex-direction: row;

    height: 100%;
}

.nav-link {
    flex: 1 1 0;
    text-align: center;
    font-size: 2rem;

    text-decoration: none;

    /* border: 0.2rem solid red; */
    /* border-radius: 1rem; */

}