---
layout: default
title: Fedor Karev
---
{% include landing-section.html %}

<div class="nav" style="position: sticky; top: 0; z-index: 100; height: 7vh; background-color: white; mix-blend-mode: difference; ">
    <div class="nav-container" style="mix-blend-mode: difference;">
        <div class="nav-left">
            <a href="{{ '/' | relative_url }}" class="nav-logo f-fraunces outline-text color-accent">Fedi41</a>
        </div>
        <div class="nav-right">
            <a href="{{ '/#projects-section' | relative_url }}" class="nav-link f-fraunces outline-text color-accent">Projects</a>
            <a href="{{ '/#contact-section' | relative_url }}" class="nav-link f-fraunces outline-text color-accent">Contact</a>
        </div>
    </div>
</div>
<section id="projects-section">
    <div>
        <div class="outline-text color-accent big-font f-fraunces centered-text" style="line-height: 0.8; margin: 3rem 0; padding: 0; max-width: 100%;">Featured projects</div>
    </div>


    <div class="center-flex">
        {% include projects-grid.html %}
    </div>

</section>


<div style="height: 100rem;"></div>