<div id="landing-grid">
    <div id="landing-logo">
        <div id="logo-container" class="rounded"></div>
    </div>
    <div id="landing-spacer1" class="divider"></div>
    <h1 id="landing-heading" class="centered-text">
        <div class="outline-text color-accent bigger-then-medium-font f-cormorant">Fedor Karev</div>
        <div class="small-text f-fraunces" style="font-weight: 100;">(Fedi41)</div>
    </h1>
    <p id="landing-text" class="f-cormorant small-font">
        Hi there! I'm <span class="f-fraunces">Fedor</span>, welcome to my corner of the web <span class="f-inter">:D</span>
    </p>
    <div id="landing-spacer2" class="divider"></div>
    <p id="landing-links" class="f-cormorant small-font">
        This website is in active work!
    </p>
</div>