<div id="landing-grid">
    <div id="landing-logo">
        <div id="logo-container" class="rounded"></div>
    </div>
    <div id="landing-spacer1" class="divider"></div>
    <h1 id="landing-heading" class="centered-text">
        <div class="outline-text color-accent bigger-then-medium-font f-cormorant">Fedor Karev</div>
        <div class="small-text f-fraunces" style="font-weight: 100;">(Fedi41)</div>
    </h1>
    <p id="landing-text1" class="f-cormorant large-font">

        Hi there!

    </p>
    <div id="landing-spacer2" class="divider"></div>
    <p id="landing-text2" class="f-cormorant small-font">
        
        I'm <span class="f-fraunces">Fedor</span>, also known as <span class="f-fraunces">Fedi41</span>. <br>
        I build software, hardware and anything in between.
         
    </p>  
</div>