<div class="nav">
    <div class="nav-container">
        <div class="nav-left">
            <a href="{{ '/' | relative_url }}" class="nav-logo f-fraunces outline-text color-accent">Fedi41</a>
        </div>
        <div class="nav-right">
            <a href="{{ '/#projects-section' | relative_url }}" class="nav-link f-fraunces outline-text color-accent">Projects</a>
            <a href="{{ '/#contact-section' | relative_url }}" class="nav-link f-fraunces outline-text color-accent">Contact</a>
        </div>
    </div>
</div>